<!DOCTYPE doctype html>
<html>
    <head>
        <meta charset="utf-8">
            <title>
                Àlex Velasco
            </title>
            <meta content="" name="description">
                <meta content="width=device-width" name="viewport">
                    
                    <script  src="lib/jquery-3.3.1.slim.min.js">
                    </script>
                    <script src="lib/popper.min.js">
                    </script>
                    <script src="lib/bootstrap.min.js">
                    </script>
                    <link href="lib/bootstrap.min.css"rel="stylesheet">
                    </link>
                    <link href="lib/w3.css"rel="stylesheet">
                    </link>
                </meta>
            </meta>
        </meta>
    </head>
    <body ng-app="appApp">
        <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <!-- Add your site or application content here -->
        <!--      <div class="header">
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-target="#js-navbar-collapse" data-toggle="collapse" type="button">
                            <span class="sr-only">
                                Toggle navigation
                            </span>
                            <span class="icon-bar">
                            </span>
                            <span class="icon-bar">
                            </span>
                            <span class="icon-bar">
                            </span>
                        </button>
                        <a class="navbar-brand" href="#/">
                            app
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="js-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="#/">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a ng-href="#/about">
                                    About
                                </a>
                            </li>
                            <li>
                                <a ng-href="#/">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="TopnavCtrl as topnavCtrl">
            <a class="navbar-brand" href="#/">
                Alex Velasco
            </a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" id="optionsNav">
                    <li class="nav-item" ng-class="{'active': (topnavCtrl.selected==='home')}">
                        <a class="nav-link" href="#/" ng-click="topnavCtrl.selected='home'">
                            Home
                        </a>
                    </li>
                    <li class="nav-item" ng-class="{'active': (topnavCtrl.selected==='projects')}">
                        <a class="nav-link" href="#/projects" ng-click="topnavCtrl.selected = 'projects'">
                            Projects
                        </a>
                    </li>
                    <li class="nav-item" ng-class="{'active': (topnavCtrl.selected==='about')}">
                        <a class="nav-link" href="#/about" ng-click="topnavCtrl.selected='about'">
                            About me
                        </a>
                    </li>
                    <li class="nav-item" ng-class="{'active': (topnavCtrl.selected==='resume')}">
                        <a class="nav-link" href="#/resume" ng-click="topnavCtrl.selected='resume'">
                            Resume
                        </a>
                    </li>
                    <li class="nav-item" ng-class="{'active': (topnavCtrl.selected==='contact')}">
                        <a class="nav-link" href="#/contact" ng-click="topnavCtrl.selected='contact'">
                            Contact
                        </a>
                    </li>
                </ul>
                <form action="#/results" class="form-inline my-2 my-lg-0" method="GET">
                    <input class="form-control mr-sm-2" name="search" placeholder="Search" type="text"/>
                    <button class="btn btn-outline-success my-2 my-sm-0" >
                        Search
                    </button>
                </form>
            </div>
        </nav>
        <div class="container">
            <div ng-view="">
            </div>
        </div>
        <hr>
        <div class="footer">
            <div class="container row">
                <!-- <p>
                    <span class="glyphicon glyphicon-heart">
                    </span>
                    from the Yeoman team
                </p> -->
                <div class="col text-center">
                    <h5>
                        Projects on GitHub
                    </h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://github.com/131alexx/Alex-Angularjs-webpage" target="_blank">
                                AngularJS (This web)
                            </a>
                        </li>
                        <li class="ml-1">
                            <h5>
                                First Projects
                            </h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://github.com/131alexx/Public-IP-sent-using-bash-scripting" target="_blank">
                                        Mail IP sending for Linux
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/131alexx/Public-IP-sent-using-batch-scripting" target="_blank">
                                        Mail IP sending for Windows
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col text-center">
                    <h5>
                        About me
                    </h5>
                    <ul class="list-unstyled">
                        <li>
                            Resume
                        </li>
                        <li>
                            Funny things
                        </li>
                        <li>
                            Free time
                        </li>
                        <li>
                            Contact
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <!-- <script>
            !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
        </script> -->
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- <script data-main="scripts/main" 
        src="../node_modules/requirejs/require.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js">
        </script>
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- <script type="text/javascript"  src="/node_modules/require.js" data-main="app/main.js"></script> -->
        <script src="scripts/app.js">
        </script>
        <script src="scripts/controllers/main.js">
        </script>
        <script src="scripts/controllers/projects.js">
        </script>
        <script src="scripts/controllers/contact.js">
        </script>
        <script src="scripts/controllers/results.js">
        </script>
        <script src="scripts/controllers/resume.js">
        </script>
        <script src="scripts/controllers/about.js">
        </script>
        <script src="scripts/controllers/topnav.js">
        </script>
        <!-- endbuild -->
    </body>
</html>
