<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>
                Àlex Velasco
            </title>
            <meta content="" name="description">
                <meta content="width=device-width" name="viewport">
                    <script src="lib/jquery-3.3.1.slim.min.js">
                    </script>
                    <script src="lib/popper.min.js">
                    </script>
                    <script src="lib/bootstrap.min.js">
                    </script>
                    <link href="lib/bootstrap.min.css" rel="stylesheet">
                    </link>
                    <link href="lib/w3.css" rel="stylesheet">
                    </link>
                </meta>
            </meta>
        </meta>
    </head>
    <body ng-app="appApp">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="TopnavCtrl as topnavCtrl">
            <a class="navbar-brand" href="#/">
                Àlex Velasco
            </a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" id="optionsNav">
                    <li class="nav-item" ng-class="{'active': (topnavCtrl.selected==='home')}">
                        <a class="nav-link" href="#/" ng-click="topnavCtrl.selected='home'">
                            {{ 'GENERAL.HOME' | translate }}
                        </a>
                    </li>
                    <li class="nav-item" ng-class="{'active': (topnavCtrl.selected==='projects')}">
                        <a class="nav-link" href="#/projects" ng-click="topnavCtrl.selected = 'projects'">
                            {{ 'GENERAL.PROJECTS' | translate }}
                        </a>
                    </li>
                    <li class="nav-item" ng-class="{'active': (topnavCtrl.selected==='about')}">
                        <a class="nav-link" href="#/about" ng-click="topnavCtrl.selected='about'">
                            {{ 'GENERAL.ABOUTME' | translate }}
                        </a>
                    </li>
                    <li class="nav-item" ng-class="{'active': (topnavCtrl.selected==='resume')}">
                        <a class="nav-link" href="#/resume" ng-click="topnavCtrl.selected='resume'">
                            {{ 'GENERAL.RESUME' | translate }}
                        </a>
                    </li>
                    <li class="nav-item" ng-class="{'active': (topnavCtrl.selected==='contact')}">
                        <a class="nav-link" href="#/contact" ng-click="topnavCtrl.selected='contact'">
                            {{ 'GENERAL.CONTACT' | translate }}
                        </a>
                    </li>
                </ul>
                <select ng-model="topnavCtrl.langSelected" ng-options="lang.lang as lang.name for lang in topnavCtrl.aLanguages" ng-change="topnavCtrl.changeLang()" class="form-control col-2">
                </select>
                <!--<form action="#/results" class="form-inline my-2 my-lg-0" method="GET">
                    <input class="form-control mr-sm-2" name="search" placeholder="Search" type="text"/>
                    <button class="btn btn-outline-success my-2 my-sm-0" >
                        Search
                    </button>
                </form>-->
            </div>
        </nav>
        <div class="container">
            <div ng-view="">
            </div>
        </div>
        <hr>
            <div class="footer">
                <div class="container row">
                    <!-- <p>
                    <span class="glyphicon glyphicon-heart">
                    </span>
                    from the Yeoman team
                </p> -->
                    <div class="col text-center">
                        <h5>
                            {{ 'GENERAL.PROJECTSGH' | translate }}
                        </h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://github.com/131alexx/cv-webpage" target="_blank">
                                    {{ 'PROJECTS.CVWEB' | translate }} {{ 'GENERAL.THISWEB' | translate }}
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/131alexx/dynamic-IP-notification" target="_blank">
                                    {{ 'PROJECTS.DYNIP' | translate }}
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/131alexx/start-automating" target="_blank">
                                    {{ 'PROJECTS.STARTDO' | translate }}
                                </a>
                            </li>
                            <!-- <li>
                                <a href="https://github.com/willyw0nka/WikiMap" target="_blank">
                                    WikiMap
                                </a>
                            </li>-->
                        </ul>
                    </div>
                    <div class="col text-center">
                        <h5>
                            {{ 'GENERAL.ABOUTME' | translate }}
                        </h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#/resume">
                                    {{ 'GENERAL.RESUME' | translate }}
                                </a>
                            </li>
                            <li>
                                <a href="#/free">
                                    {{ 'GENERAL.FREET' | translate }}
                                </a>
                            </li>
                            <li>
                                <a href="#/contact">
                                    {{ 'GENERAL.CONTACT' | translate }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <script src="lib/angular.min.js">
            </script>
            <script src="lib/angular-translate.min.js">
            </script>
            <script src="lib/angular-route.min.js">
            </script>
            <script src="scripts/app.js">
            </script>
            <script src="scripts/controllers/main.js">
            </script>
            <script src="scripts/controllers/projects.js">
            </script>
            <script src="scripts/controllers/contact.js">
            </script>
            <script src="scripts/controllers/resume.js">
            </script>
            <script src="scripts/controllers/about.js">
            </script>
            <script src="scripts/controllers/topnav.js">
            </script>
        </hr>
    </body>
</html>
