<div class="row">
    <div class="col">
        <h3>
            {{ 'ABOUT.REGARDS' | translate }}
        </h3>
        <p>
            {{ 'ABOUT.PRESENTATION1' | translate }}
        </p>
        <p>
            {{ 'ABOUT.PRESENTATION21' | translate }} {{aboutCtrl.age}} {{ 'ABOUT.PRESENTATION22' | translate }}
        </p>
        <strong>
            {{ 'ABOUT.ILOVE' | translate }}
        </strong>
        <p style="text-align: justify;">
            {{ 'ABOUT.DESCILOVE' | translate }}
        </p>
        <strong>
            {{ 'ABOUT.MYSTUDY' | translate }}
        </strong>
        <p style="text-align: justify;">
            {{ 'ABOUT.DESCMYSTUDY' | translate }}
        </p>
        <strong>
            {{ 'ABOUT.MYEXP' | translate }}
        </strong>
        <p style="text-align: justify;">
            {{ 'ABOUT.DESCMYEXP' | translate }}
        </p>
    </div>
    <div class="col-sm-8">
        <img class="img-fluid rounded m-5" src="images/IMG_20190416_110017.jpg" style="max-width: 100%;height: auto">
        </img>
    </div>
</div>