<div class="row">
    <div class="col">
        <h3>
            Hello!
        </h3>
        <p>
            I'm Àlex and this my about page.
        </p>
        <p>
            I'm a {{aboutCtrl.age}} year old guy passionate about computer science and mathematics.
        </p>
        <strong>
            About what I love
        </strong>
        <p>
            In my free time, I listen to music, go out with my friends, read things on the Internet and do some exercise when I can.
            I love traveling with my family and discover new places with natural landscapes.
        </p>
        <strong>
            About my studies
        </strong>
        <p>
            
In 2016 I entered the UAB(Autonomous University of Barcelona) and coursed a computer engeneering since today. I specialized on the section of Information and Comunication Technologies.
        </p>
        <strong>
            About my work experience
        </strong>
        <p>
            I've worked as a Front-End for a few months, where i learned the basics of the web development. I'm currently learning the system administrator job and enriching my experience a lot. I love learning new things!
        </p>
    </div>
    <div class="col-sm-8">
        <img class="img-fluid rounded m-5" src="images/IMG_20190416_110017.jpg" style="max-width: 100%;height: auto">
        </img>
    </div>
</div>
<section>
    <p>
        Some text here that can be expanded to the full row no matter how long it issssssssssssssssssssssssssssssssssssssssssssss:P
    </p>
    <p class="text-center">
        Telling something about me
    </p>
</section>