<div class="marketing">
    <h3>
        You can contact me using...
    </h3>
    <br>
        <br>
            <div class="row">
                <div class="col text-center">
                    <p>
                        E-mail
                    </p>
                    <strong>
                        <a href="mailto:131alexx@gmail.com" target="_blank">
                            131alexx@gmail.com
                        </a>
                    </strong>
                </div>
                <div class="col text-center">
                    <p>
                        Phone
                    </p>
                    <strong>
                        <a href="tel:+34617578406" target="_blank">
                            617 57 84 06
                        </a>
                    </strong>
                </div>
            </div>
        </br>
    </br>
    <div class="row">
        <div class="col text-center">
            <p>
                Linkedin
            </p>
            <strong>
                <a href="https://www.linkedin.com/in/%C3%A0lex-velasco-ca%C3%B1ete-de-c%C3%A1rdenas-3771a2169/" target="_blank">
                    Visit my profile!
                </a>
            </strong>
        </div>
    </div>
    <div class="text-center">
        <br>
            <br>
                <p>
                    My full name is Àlex Velasco Cañete de Cárdenas
                </p>
            </br>
        </br>
    </div>
</div>
