<div class="marketing">
    <h3 class="mt-5">
        {{'CONTACT.CONTACTME' | translate}}
    </h3>
    <br/>
    <br/>
    <div class="row">
        <div class="col-4"></div>
        <div class=" col-4 w3-card-4 m-5 p-5">
            <h3 class="text-center">
                Àlex Velasco Cañete de Cárdenas
            </h3>
            <div>
                <img class="m-2 img-fluid rounded" src="images/IMG_20190416_170757.jpg"/>
            </div>
            <div class=" text-center">
                <p>
                    E-mail:
                    <strong>
                        <a href="mailto:131alexx@gmail.com" target="_blank">
                            131alexx@gmail.com
                        </a>
                    </strong>
                </p>
            </div>
            <div class=" text-center">
                <p>
                    {{'CONTACT.PHONE' | translate}}
                    <strong>
                        <a href="tel:+34617578406" target="_blank">
                            617 57 84 06
                        </a>
                    </strong>
                </p>
            </div>
            <div class=" text-center">
                <p>
                    Linkedin:
                    <strong>
                        <a href="https://www.linkedin.com/in/%C3%A0lex-velasco-ca%C3%B1ete-de-c%C3%A1rdenas-3771a2169/" target="_blank">
                            {{'CONTACT.LINKEDINVISIT' | translate}}
                        </a>
                    </strong>
                </p>
            </div>
            <div class="text-center">
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
