<h1>
    Welcome to my webpage!
</h1>
<div class="row">
    <p class="col-7 lead text-center">
        <img alt="Me" class="w-75 rounded border border-dark" src="images/comedor.jpeg">
            <br/>
                Not a candy but me 😏
            <br/>
            <div>
                {{'TEST' | translate}}
            </div>
        </img>
    </p>
    <div class="col-5 align-middle" style="position: relative;">
        <div ng-if="mainCtrl.ingame" style="top: 0;position: absolute;">
            Try to click the ball!
        </div>
        <div ng-if=" ! mainCtrl.ingame " style="top: 0;position: absolute;">
            <h3>
                You win!!
            </h3>
            <h6>
                Click the ball to play again.
            </h6>
        </div>
        <br/>
        <div style="top: 100px;position: absolute;">
          
        <svg height="{{mainCtrl.square.height}}" width="{{mainCtrl.square.width}}">
            <rect height="{{mainCtrl.square.height}}" 
                  rx="20" 
                  ry="20" 
                  style="fill:rgb(255,255,255);stroke-width:10;stroke:rgb(0,0,0)" 
                  width="{{mainCtrl.square.width}}">
            </rect>
            <circle cx="{{mainCtrl.circle.centerx}}" 
                    cy="{{mainCtrl.circle.centery}}" 
                    fill="brown  " 
                    ng-click="mainCtrl.win()" 
                    ng-mouseover="mainCtrl.overBall()" 
                    r="{{mainCtrl.circle.radius}}" 
                    stroke="black" 
                    stroke-width="4">
            </circle>
        </svg>
        </div>
    </div>
</div>
