<div class="jumbotron">
    <h1>
        {{ 'PROJECTS.TITLE' | translate }}
    </h1>
    <p class="lead">
        {{ 'PROJECTS.INYOURHOUSE' | translate }}
        <br>
            <img alt="The is no place like 127.0.0.1" class="img-fluid rounded" src="images/no_place_like_localhost.png">
                <br>
                </br>
            </img>
        </br>
    </p>
    <p>
        <a class="btn btn-lg btn-info" href="https://github.com/131alexx" target="_blank">
            {{ 'PROJECTS.GOTOGH' | translate }}
            <span class="glyphicon glyphicon-ok">
            </span>
        </a>
    </p>
</div>
<div class="marketing">
    <h2>
        {{ 'PROJECTS.SOMEPROJECTS' | translate }}
    </h2>
    <br>
        <h4>
            <!--Solo projects-->
            {{ 'PROJECTS.TITLE' | translate }}
        </h4>
        <div class="text-center">
            <h6 class="bg-secondary rounded text-light">
                <strong>
                    {{ 'PROJECTS.DYNIP' | translate }}
                </strong>
            </h6>
            <br>
                <div class="row">
                    <div class="col-3">
                        <p>
                            <a href="https://github.com/131alexx/dynamic-IP-notification" target="_blank">
                                Bash, Batch and Python
                            </a>
                        </p>
                    </div>
                    <div class="col" style="text-align: justify;">
                        {{ 'PROJECTS.DESCDYNIP' | translate }}
                    </div>
                </div>
            </br>
            <h6 class="bg-secondary rounded text-light">
                <strong>
                    {{ 'PROJECTS.CVWEB' | translate }}
                </strong>
            </h6>
            <br>
                <div class="row">
                    <div class="col-3">
                        <p>
                            <a href="https://github.com/131alexx/cv-webpage" target="_blank">
                                AngularJS
                            </a>
                        </p>
                    </div>
                    <div class="col" style="text-align: justify;">
                        {{ 'PROJECTS.DESCCVWEB' | translate }}
                    </div>
                </div>
            </br>
            <h6 class="bg-secondary rounded text-light">
                <strong>
                    {{ 'PROJECTS.STARTDO' | translate }}
                </strong>
            </h6>
            <br>
                <div class="row">
                    <div class="col-3">
                        <p>
                            <a href="https://github.com/131alexx/start-automating" target="_blank">
                                Docker
                            </a>
                        </p>
                    </div>
                    <div class="col" style="text-align: justify;">
                        {{ 'PROJECTS.DESCSTARTDO' | translate }}
                    </div>
                </div>
            </br>
        </div>
    </br>
</div>
<!--<h4>
    Team projects
</h4>
<div class="text-center">
    <h6>
        <strong>
            WikiMap
        </strong>
    </h6>
    <br>
        <div class="row">
            <div class="col-3">
                <p>
                    <a href="https://github.com/willyw0nka/WikiMap" target="_blank">
                        Node.js & PHP
                    </a>
                </p>
            </div>
            <div class="col">
                This is a for fun project with the objective of filling a database with all the relationships found in all Wikipedia pages. I've made this with a college mate.
            </div>
        </div>
    </br>
</div>
-->
