<div class="jumbotron">
    <h1>
        Projects
    </h1>
    <p class="lead">
        As if you were in your house...
        <br>
            <img alt="The is no place like 127.0.0.1" class="img-fluid rounded" src="images/no_place_like_localhost.png">
                <br>
                </br>
            </img>
        </br>
    </p>
    <p>
        <a class="btn btn-lg btn-success" href="https://github.com/131alexx" target="_blank">
            Go to GitHub
            <span class="glyphicon glyphicon-ok">
            </span>
        </a>
    </p>
</div>
<div class="marketing">
    <h2>
        Here are some of my projects, take a look...
    </h2>
    <br>
        <h4>
            Solo projects
        </h4>
        <div class="text-center">
            <h6>
                <strong>
                    Dynamic IP Notification
                </strong>
            </h6>
            <br>
                <div class="row">
                    <div class="col-3">
                        <p>
                            <a href="https://github.com/131alexx/dynamic-IP-notification" target="_blank">
                                Bash, Batch and Python
                            </a>
                        </p>
                    </div>
                    <div class="col">
                        The project came from the necessity to know my IP address to access my own web due to companies setting dynamic addresses. Are three scripts that checks for the public address every and, if it has changed, sends a mail notifying the change. The script can be configured to be executed from time to time (Cron, TaskManager...).
                    </div>
                </div>
            </br>
            <h6>
                <strong>
                    Personal WebPage
                </strong>
            </h6>
            <br>
                <div class="row">
                    <div class="col-3">
                        <p>
                            <a href="https://github.com/131alexx/cv-webpage" target="_blank">
                                AngularJS
                            </a>
                        </p>
                    </div>
                    <div class="col">
                        This is the webpage you are reading right now, and was made just to test my own skills and what I learned as a Front-End developer. If you want to see the source code, go check it. ;)
                    </div>
                </div>
            </br>
            <h6>
                <strong>
                    Starting on DevOps
                </strong>
            </h6>
            <br>
                <div class="row">
                    <div class="col-3">
                        <p>
                            <a href="https://github.com/131alexx/start-automating" target="_blank">
                                Docker
                            </a>
                        </p>
                    </div>
                    <div class="col">
                        The objective of this project is to make an easy way to deploy machines without having to buy an Infrastructure to test it. You can deploy a few machines very fast and start testing tools like Ansible. Welcome to DevOps culture!
                    </div>
                </div>
            </br>
        </div>
    </br>
</div>
<h4>
    Team projects
</h4>
<div class="text-center">
    <h6>
        <strong>
            WikiMap
        </strong>
    </h6>
    <br>
        <div class="row">
            <div class="col-3">
                <p>
                    <a href="https://github.com/willyw0nka/WikiMap" target="_blank">
                        Node.js & PHP
                    </a>
                </p>
            </div>
            <div class="col">
                This is a for fun project with the objective of filling a database with all the relationships found in all Wikipedia pages. I've made this with a college mate.
            </div>
        </div>
    </br>
</div>
