<div class="jumbotron">
  <h1 class="s-component s-text s-animation-page-slide_in">Hello! {{resumeCtrl.section}}</h1>
  <p class="lead">
    <img src="images/desk.jpg" class="rounded mx-auto d-block" alt="Desk"><br>
     This is where some candy things will be shows :P
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Love it <3<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="marketing">
  <h3>Some Cool things</h3>
  <br>
  <br>
  <p>Do you love me like I looove you?</p>
</div>
