<div class="jumbotron mt-5 h-50">
    <h3 class="s-component s-text s-animation-page-slide_in">
        Some of my skills:
    </h3>
    <div>
        <h1 style="height: 250px;position: relative;" class="text-center p-5 w3-animate-opacity blockquote" ng-show="resumeCtrl.skill">
            <div class="display-1 h-50">
                {{ resumeCtrl.skill }}
            </div>
            <div class="blockquote-footer float-right" style="position: absolute;bottom: 0; right: 0">
                {{resumeCtrl.skillType}}
            </div>
        </h1>
    </div>
    <div >
        
    <button class="btn btn-primary" ng-click="resumeCtrl.changeSkill()">
        Show another
    </button>
    <button class="btn btn-info" ng-click="resumeCtrl.displayAll = true;">
        Show all
    </button>
    </div>
</div>
<div class="w3-container">
    <div class="row w3-animate-top" ng-if="resumeCtrl.displayAll">
        <div class="col">
            <h3 class="rounded bg-info text-light p-2">
                Social Skills
            </h3>
            <p ng-repeat="ss in resumeCtrl.aConduct">
                {{ss}}
            </p>
        </div>
        <div class="col">
            <h3 class="rounded bg-info text-light p-2">
                Technologies Knowledge
            </h3>
            <p ng-repeat="tk in resumeCtrl.aSkills">
                {{tk}}
            </p>
        </div>
        <div class="col">
            <h3 class="rounded bg-info text-light p-2">
                Programming languages
            </h3>
            <p ng-repeat="pl in resumeCtrl.aPL">
                {{pl}}
            </p>
        </div>
        <div class="col">
            <h3 class="rounded bg-info text-light p-2">
                Learning Technologies
            </h3>
            <p ng-repeat="lt in resumeCtrl.aLT">
                {{lt}}
            </p>
        </div>
    </div>
</div>
<h4 class="rounded bg-info text-light p-2">
     Non-computer Skills
</h4>
<div ng-repeat="skill in resumeCtrl.aOtherSkills">
    <div class="row m-3">
        
            <h5 class="col-3">
                <strong>
                    
                {{skill.name}}
                </strong>
            
            </h5>
            <div class=" col mt-3 ml-3">
                - {{skill.type}}
            </div>
        
    </div>
</div>
